
img.ig-logo {
    height: 21px;
    width: 21px;
    margin: 0 auto;
    display: block;
    padding-top: 8px;
}
header a {
    height: 39px;
    display: block;
    width: 41px;
    margin-left: 20px;
    background: black;
}
    h1 {padding-top: 10px;background: black;
    writing-mode: vertical-lr;
    text-orientation: upright;
    color: white;text-transform: uppercase;
    margin-left: 20px;}

h2 {
    color: white;
    float: revert;
    top: 0;
    right: 0;
    position: absolute;
    background: black;
    padding: 0 50px 0 10px;
}
    body{background: lime; margin: 0; font-family: 'Dosis', sans-serif;}
    .twitterbot{width: 100%;}
    footer div{
    color:white;
    font-size: 10px;
    text-align: center;
}
footer {
    position: relative;
}
footer div { position:absolute; bottom: 0;margin: 0 auto;
    width: 100%;}
footer div a{
    color:white;
    font-size: 10px;
    text-align: center;
}
    .twitterbot {
        position: absolute;
    }
    @media only screen and (min-width: 821px){
    .twitterbot{
    top: 0;
    }
}
@media only screen and (max-width: 820px){
    .twitterbot{
    bottom: 0;
    }
}
